.table{
    display:flex;
    justify-content:center;
    margin-top:10px;

}
.proceed{
    margin-top:20px;
    gap:10px;   
}
.Deepak{
    display:flex;
    justify-content:center;
    flex-direction:row;
}